<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница блога</title>
    <link rel="stylesheet" href="/static/style/post.css">
</head>
<body>
<article class="article-container"
         data-blog-id="{{ blog.id }}"
         data-blog-status="{{ blog.status }}"
         data-blog-author="{{ blog.author }}">
    <h1 class="article-title">{{ blog.title }}</h1>
    <div class="article-meta">
        <a href="/blogs?author_id={{ blog.author }}">{{ blog.author }}</a> •
        {{ blog.created_at.strftime('%d %B %Y') }}
    </div>
<!-- Содержимое статьи -->
    <div class="article-content"><p>{{ blog.content }}</p></div>
<!-- Перечисляем тэги статьи -->
<div class="tags-container">
    {% if blog.tags %}
    <ul class="tags">
        {% for tag in blog.tags %}
        <li><a href="/blogs?tag={{ tag.name }}" class="tag">{{ tag.name }}</a>></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>В данной статье нет тэгов</p>
    {% endif %}
<!-- Если автор статьи, то может менять статус публикации -->
</div>
{% if current_user_id == blog.author %}
<div class="article-actions">
    {% if blog.status == 'published' %}
        <button class="button status-button" data-action="change-status" data-new-status="draft">Добавить в черновики</button>
        {% else %}
        <button class="button status-button" data-action="change-status" data-new-status="published">Опубликовать</button>>
    {% endif %}

<button class="button delete-button" data-action="delete">Удалить блог</button>
</div>
{% endif %}
</article>

<div class="view-blogs"><a href="/blogs/">Смотреть все блоги</a></div>

<script src="/static/js/post.js"></script>
</body>
</html>